.container{
    border: 2px solid black;
    margin:5px;
    padding: 10px;
    margin-right: 15px;
    height: 390px;
    max-height: 390px;
    overflow-y: auto;
    max-width: 1200px;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.productSeparator {
    margin-right: 60px;
  }